<div class="text-center" id="professional-experience">
  <h3>Expériences professionnelles</h3>
</div>
<ul class="timeline">
  <TimelineItem @title="Formateur" @period="Depuis Septembre 2020" as |ti|>
    <ti.description>
      <p>Formateur à <a href="https://www.humancoders.com/" target="_blank" rel="noopener">HumanCoders</a>, je dispense en inter ou en intra-entreprises les formations suivantes :</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="https://www.humancoders.com/formations/java-spring" target="_blank">Java Spring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://www.humancoders.com/formations/java-spring-batch" target="_blank">Spring Batch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://www.humancoders.com/formations/emberjs" target="_blank">EmberJS</a>
        </li>

      </ul>
    </ti.description>
    <ti.technos @technos={{array
            (hash color="light" title="Java" description="Spring, Hibernate, Spring MVC, Spring Batch")
            (hash color="info" title="EmberJS")
    }}>
    </ti.technos>
  </TimelineItem>
  <TimelineItem @title="Développeur freelance" @period="Depuis Mai 2017" @right="true" as |ti|>
    <ti.description>
      <p>J'effectue des prestations de développement Web pour le compte de divers clients et leur propose également des audits sur leurs processus et méthodes de développement.</p>
    </ti.description>
  </TimelineItem>

  <TimelineItem @title="Formateur" @period="Depuis Septembre 2017" as |ti|>
    <ti.description>
      <p>Formateur à <a href="http://www.ipi-ecoles.com/" target="_blank" rel="noopener">l'Institut de Poly-Informatique</a>, je dispense les formations suivantes sur les campus IPI de Lyon et de Clermont-Ferrand :</p>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-algo-001-cours/" target="_blank">Algorithmie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-git-200-cours/" target="_blank">Git</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-210-cours/" target="_blank">Bases de Java</a>
      </li>
       <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-220-cours/" target="_blank">POO</a>
        </li>
       <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-230-cours/" target="_blank">Persistance JPA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-240-cours/" target="_blank">Spring</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-320-cours/" target="_blank">Servlets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-mdd-050-cours/" target="_blank">Spring MVC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/cours-springbatch/" target="_blank">Spring Batch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-330-th-cours/" target="_blank">Thymeleaf</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-330-cours/" target="_blank">JSP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-310-cours/" target="_blank">Serveurs web</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-350-delivery/" target="_blank">Déploiement/hébergement</a>
      </li>
        <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-java-350-cours/" target="_blank">Qualité logicielle</a>
        </li>
  <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-mysql-010-cours/" target="_blank">MySQL</a>
        </li>
  <li class="nav-item">
          <a class="nav-link active" href="https://pjvilloud.github.io/ipi-mdd-324-cours/" target="_blank">Architectures distribuées</a>
        </li>

      </ul>
    </ti.description>
    <ti.technos @technos={{array
      (hash color="light" title="Java" description="Spring, Hibernate")
      (hash color="primary" title="Qualité logicielle" description="Tests unitaires, tests d'acceptation, tests d'intégration, intégration continue")
      (hash color="info" title="SOA")
      (hash color="success" title="MySQL" description="Base de données")
    }}>
    </ti.technos>
  </TimelineItem>

  <TimelineItem @title="Architecte logiciel" @period="Janvier 2016" @right="true" as |ti|>
    <ti.description>
      <p>Système de gestion de créances et d'ordres de paiement pour un groupement de mutuelles (santé, prévoyance, retraite, assurance). Choix techniques, développement de l'API, du site web public et de l'administration, développement des batchs d'intégration des fichiers (créances, référentiels...).</p>
    </ti.description>
    <ti.technos @technos={{array
      (hash color="light" title="Java" description="Spring, Spring Batch, Hibernate")
      (hash color="primary" title="Qualité logicielle" description="TestNG, Sonar, ELK (Elastic Search, Logstash, Kibana), Docker")
      (hash color="info" title="Web" description="Ember JS, Spring REST, Spring Security")
      (hash color="success" title="MySQL" description="Base de données")
    }}>
    </ti.technos>
  </TimelineItem>

  <TimelineItem @title="Responsable d'application" @period="Juillet 2014" as |ti|>
    <ti.description>
      <p>Refonte du système d'information gérant l'ensemble des missions locales (organismes d'insertion professionnelle des jeunes). Migration des données de l'ancien système vers le nouveau.</p>
      <p>Réflexions et mises en place d'outils de qualité logicielle (intégration continue, tests, bonnes pratiques...)</p>
    </ti.description>
    <ti.technos @technos={{array
      (hash color="light" title="Java" description="Spring, Hibernate, RestHub")
      (hash color="primary" title="Qualité logicielle" description="TestNG, Mockito, Cucumber")
      (hash color="info" title="Web" description="Backbone JS, RestHub Backbone, Elastic search")
      (hash color="success" title="Oracle/PostgreSQL" description="Base de données")
    }}>
    </ti.technos>
  </TimelineItem>

  <TimelineItem @title="Chef de projet" @period="Mars 2011" @right="true" as |ti|>
    <ti.description>
      <p>Projet de certification PCI DSS d'un projet de Back Office pour la SNCF. Analyse du besoin et rédaction des spécifications fonctionnelles. Conception de modules et réalisation de tests fonctionnels automatisés. Rôle de Product Owner (création et maintien d'un backlog projet, priorisation...).</p>
      <p>Méthodes de travail : TDD/ATDD</p>
    </ti.description>
    <ti.technos @technos={{array
      (hash color="light" title="Java" description="Spring, Hibernate, RestHub, Spring Batch")
      (hash color="primary" title="Qualité logicielle" description="TestNG, Mockito, MakeItEasy, Concordion")
      (hash color="info" title="Web" description="Backbone JS, RestHub Backbone, jQuery, moment.js, amCharts")
      (hash color="success" title="Oracle" description="Base de données")
    }}>
    </ti.technos>
  </TimelineItem>

  <TimelineItem @title="Responsable d'application" @period="Juillet 2010" as |ti|>
    <ti.description>
      <p>Développement d'un web service d'envoi de SMS. Refonte des serveurs vocaux interactifs (SVI) de la CNAF (Caisse Nationale des Allocations Familiales) en Struts et VXML.</p>
    </ti.description>
    <ti.technos @technos={{array
      (hash color="light" title="Java" description="Spring, Hibernate, Hades, CXF")
      (hash color="primary" title="Qualité logicielle" description="JUnit")
      (hash color="info" title="Web" description="Struts")
      (hash color="success" title="MySql" description="Base de données")
    }}>
    </ti.technos>
  </TimelineItem>
  <li class="clearfix no-float"></li>
</ul>
